@import "tailwindcss";

@theme {
  --color-brand-light: #f5f5f5;
  --color-brand-DEFAULT: #ff9900;
  --color-brand-dark: #1a1a1a;
  --color-brand-card: #2d2d2d;
}

body {
  background-color: #1a1a1a;
  /* fallback */
  background-color: var(--color-brand-dark);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'cv11', 'ss01';
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
  }
}